  <div>
    <div class="nav-content">
      <div class="toolbarContainer">
      <div class="appTitle">
        <span>{{title}}</span>
      </div>

        <div class="mainButtonsContainer">
          <div class="mainButton">
            <a routerLink="/forest" routerLinkActive="active"><mat-icon mat-list-icon>map</mat-icon></a>
          </div>
          <div class="mainButton">
            <a routerLink="/map" routerLinkActive="active"><mat-icon mat-list-icon>timeline</mat-icon></a>
          <!--<a routerLink="/map" routerLinkActive="active"><mat-icon mat-list-icon>equalizer</mat-icon>charts</a>-->
          </div>
        </div>
        <tcc-signin></tcc-signin>
      </div>

    </div>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
