[forest] {
  pointer-events: none;
}

.warning {
  display: block;
  position: absolute;
  width: 300px;
  background: white;
}

.lesson {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  background: white;
}

.node {
  cursor: pointer;
}

.node circle {
  /*fill: #fff;
                stroke: steelblue;*/
  stroke-width: 3px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
