<h2 mat-dialog-title *ngIf="!showGoogleBtn">{{params.title}} {{name}}</h2>

<mat-dialog-content *ngIf="showGoogleBtn">


    <!-- <button (click)='siginWithGoogle()'>signin with google</button> -->
    <div class="stack">
<!--<button mat-button (click)="socialSignIn('twitter')">Sign in Twitter</button> -->
    <div class="row">
      <div class="mat-one"></div>
    <button mat-button *ngIf="showGoogleBtn" (click)="socialSignIn('google')">Sign in with Google</button>
  </div>
    <div class="row">
      <div class="mat-two"></div>
    <button mat-button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
  </div>
  </div>

<!-- anonymous ???
  <mat-form-field>
    <input matInput name="username" placeholder="Username"
           [(ngModel)]="params.username" (keyup.enter)="onSave()" [formControl]="usernameFormControl" required>
    <mat-error>This field is required</mat-error>
    <mat-hint>Please type your username</mat-hint>
  </mat-form-field>
-->
</mat-dialog-content>

<mat-dialog-actions *ngIf="params?.typeDialog === 'new-user'" [attr.align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()" [disabled]="usernameFormControl.hasError('required')">Chat!</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="params?.typeDialog === 'edit-user'" [attr.align]="'end'">
  <button mat-button mat-dialog-close color="secondary">Close</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()">Save</button>
</mat-dialog-actions>
